<% if !@favorite_product_users.present? && !@favorite_variant_users %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results) %>
  </div>
<% end %>

<% if @favorite_product_users.present? %>
  <%= paginate @favorite_product_users %>
  <%= render partial: 'spree/admin/favorite_products/table', locals: { users: @favorite_product_users, type: 'product' } %>
<% end %>

<% if @favorite_variant_users.present? %>
  <%= paginate @favorite_variant_users %>
  <%= render partial: 'spree/admin/favorite_products/table', locals: { users: @favorite_variant_users, type: 'variant' } %>
<% end %>