<% if @users.any? %>
  <table class="table" id="listing_favorite_products_users">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th>Email</th>
        <th data-hook="admin_users_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="<%= spree_dom_id user %>" data-hook="admin_users_index_rows">
          <td class='user_email'><%=link_to user.email, edit_admin_user_url(user) %></td>
          <td data-hook="admin_users_index_row_actions" class="actions actions-2 text-right">
            <%= link_to_edit user, no_text: true %>
            <%= link_to_delete user, no_text: true, url: admin_favorite_product_path(id: user.favorites.where(product_id: @product.id).first) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results) %>
  </div>
<% end %>
